* {
  margin: 0;
  padding: 0;
}
.signup-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:black;
  font-family: "Arial", sans-serif;

}
.signup-form {
  margin: 20px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.signup-button {
  background-color: #4c9aff;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1.1em;

  cursor: pointer;
  transition: background-color 0.3s;
}
.input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

.input-field:focus {
  border-color: #4c9aff;
  outline: none;
}
.signup-button:hover {
  background-color: #357ac1;
}

.signup-button:disabled {
  background-color: #bbb;
  cursor: not-allowed;
}
/* Responsive design */
@media (max-width: 480px) {
  div.signup-form {
    padding: 20px;
    max-width: 80%;
    div .input-field {
      width: 80%;
    }
  }

  .signup-button {
    padding: 10px;
  }
}
